DEBUG=True
APP_LOG_LEVEL=DEBUG
DJANGO_LOG_LEVEL=INFO

ALLOWED_HOSTS=*
SESSION_COOKIE_AGE=1209600
SECRET_KEY=JYGTKLztZxVdu5NXuhXGaSkLJosiiQyBhFJ4LAHrJ5YHigQqq7
STATIC_ROOT=/data/static
MEDIA_ROOT=/data/media
LANGUAGE_CODE=en-us
USE_TZ=True
TZ=UTC

USE_X_FORWARDED_HOST=True
SECURE_REFERRER_POLICY=no-referrer-when-downgrade

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST=
DATABASE_PORT=3306

DEFAULT_FROM_EMAIL=no-reply@zerowow.games
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_PORT=587

CACHE_LOCATION=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_REDIS_PASSWORD=

DISCORD_API_URL=https://discord.com/api/v8
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=https://zerowow.games/oauth/callback/
OAUTH_GRANT_TYPE=authorization_code
OAUTH_SCOPE=identify

FLOWER_PORT=5555
FLOWER_URL_PREFIX=flower
FLOWER_PURGE_OFFLINE_WORKERS=60
FLOWER_AUTO_REFRESH=

SENTRY_URL=
SENTRY_SAMPLE_RATE=0.1
SENTRY_DEBUG=False
SENTRY_ENVIRONMENT=dev

GOOGLE_SITE_PUBLIC=
GOOGLE_SITE_SECRET=

SITE_URL=https://zerowow.games
DISCORD_INVITE=https://discord.gg/ZrRbfdE6kz
DISCORD_WEBHOOK=
DISCORD_BOT_TOKEN=
DISCORD_SERVER_ID=617446636494520352
DISCORD_OFFICER_ROLE=617449124702453760
DISCORD_MEMBER_ROLE=908593655110045717
DISCORD_CHANNEL_ID=909570373807398942

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
